<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FlaskApp</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
  <div>
    <div class="bg-nav text-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm row">
      <div class="col-md-9">
        <h5 class="my-0 mr-md-auto font-weight-normal logo text-light">FlaskApp!</h5>
      </div>
      <nav class="my-2 my-md-0 mr-md-3 col-md-3">
        <a class="p-2 text-light" href="#">Features</a>
        <a class="p-2 text-light" href="#">Enterprise</a>
        <a class="p-2 text-light" href="#">Support</a>
        <a class="p-2 text-light" href="#">Pricing</a>
        <a class="btn text-light btn-outline-primary" href="#">Logout</a>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-danger">
          <div class="card-body">
            <h2>Total Earning</h2>
            <h4>BDT 400000</h4>
          </div>
        </div>        
      </div>
      <div class="col-md-4">
        <div class="card bg-success">
          <div class="card-body">
            <h2>Total Earning</h2>
            <h4>BDT 400000</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-info">
          <div class="card-body">
            <h2>Total Earning</h2>
            <h4>BDT 400000</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-8">
        <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="text-center">Create a New FlaskApp</p>
            <button class="btn btn-danger w-100 ">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>